@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');
* {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

section {
    position: relative;
    overflow: hidden;
    padding: 20vh 0;
}

.image-background {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-center {
    text-align: center;

    h1 {
        margin: 0;
        font-size: 48px; 
    }

    &.scroll-wrapper {
        padding: 50px 0 0 0;
    }
}

.navbar {
    background-color: #5474FD;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    align-items: center;

    .container {
        width: 1100px;
        max-width: 100%;
        margin: 0 auto;
        

        @media (min-width: 700px) {
            display: flex;
        }

        h2 {
            font-size: 24px;
        }
    }

    .navbar-items {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media (min-width: 700px) {
            flex-direction: row;
        }

        p {
            font-family: 'Aleo', serif;
        }
    }
}

form {
    background-color: #FFF;
    margin: 0 auto 50px;
    width: 503px;
    max-width: 100%;
    height: 63px;
    display: flex;
    padding: 1px;
    
    input {
        display: flex;
        width: 502px;
        border: none;
        color: #999;
        text-align: center;
        font-size: 14px; 
    }

    button {
        background-color: #5474FD;
        border: none;
        width: 153px;
        height: 63px; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        font-family: 'Aleo', serif;
        font-weight: 400;
    }

    img {

    }
}