@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
}

//SECTION 1
section {
    position: relative;
    overflow: hidden;
    padding: 20vh 0;
}

.image-background {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-center {
    text-align: center;

    h1 {
        margin: 0;
        font-size: 48px; 
    }

    &.scroll-wrapper {
        padding: 50px 0 0 0;
    }
}

// GENERAL CONTAINER
.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: #5474FD;
    display: flex;
    flex-direction: column;

    align-items: center;

    .container {
        align-items: center;

        @media (min-width: 700px) {
            display: flex;
        }

        h2 {
            font-size: 24px;
        }
    }

    .navbar-items {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        min-height: 83px;

        @media (min-width: 700px) {
            flex-direction: row;
        }

        p {
            font-family: 'Aleo', serif;

            &:hover,
            &:focus {
                cursor: pointer;
                color: #bdc3c7;
            }
        }
    }
}

form {
    background-color: #FFF;
    margin: 0 auto 50px;
    width: 503px;
    max-width: 100%;
    height: 63px;
    display: flex;
    padding: 1px;
    
    input {
        display: flex;
        width: 502px;
        border: none;
        color: #999;
        text-align: center;
        font-size: 14px; 
    }

    button {
        background-color: #5474FD;
        border: none;
        width: 153px;
        height: 63px; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        font-family: 'Aleo', serif;
        font-weight: 400;

        &:hover,
        &:focus {
            cursor: pointer;
            color: #bdc3c7;
        }
    }

    img {

    }
}

//SECTION 2
.choose {
    
    .container {
        gap: 110px;


        @media (min-width: 700px) {
            display: flex;
            align-items: center;
        }

        h2 {
            font-family: 'Aleo', serif;
            margin: 0 0 50px 0;
        }

        p {
            margin: 0 0 45px 0;
        }
    }

    button {
        background-color: #5474FD;
        border: none;
        width: 228px;
        height: 63px; 
        font-family: 'Aleo', serif;
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: #bdc3c7;
        }

    }

    p {
        color: #E8E8E8; 
        line-height: 26px;
        font-size: 16px; 
        letter-spacing: 1.6px; 
    }

    &-images {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 10px;

        img {
            max-width: 100%;
            width: 100%;
            margin-right: 5px;

            @media (min-width: 700px) {
                &:nth-child(even) {
                    margin-left: 90px;
                }
            }
        }
    }
}

// SECTION 3

.search {
    padding: 50px 0;
    background-color: #333;

    &-shape {
        background-image: url('../images/shape.svg');
        background-repeat: no-repeat;
        background-position: center top;
        position: relative;
        width: 100%;
        height: 95px;
        margin-bottom: -50px;
    }

    &-items {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        position: relative;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 36px;

            span {
                background-color: #333;
                border-radius: 100%;
                padding: 20px;
            }

            img {
                width: 100%;
                max-width: 60px;
            }

            p {
                color: #E8E8E8;
                text-align: center;
                font-family: 'Aleo', serif;
                font-size: 36px;
                font-weight: 400; 
            }
        }
    }
}


// SECTION 4
.spain {
    
    
    .container {

        button {
            background-color: #5474FD;
            border: none;
            width: 228px;
            height: 63px; 
            font-family: 'Aleo', serif;
        }
    
        h3 {
            margin: 0 0 23px 0;
            color: #E8E8E8;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 1.5px; 
        }
    
        h2 {
            margin: 0 0 13px 0;
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    
        p {
            margin: 0 0 46px 0;
            color: #E8E8E8;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
        
    }
    
    .card {
        background-color: rgba(#232323, 0.9);
        padding: 64px 32px;
        max-width: 543px;
        margin: 50px 0 0 0;
    
    }
}

//SECTION 5
.spain-two {
    
    .container {
        display: flex;
        justify-content: flex-end;

        button {
            background-color: #5474FD;
            border: none;
            width: 228px;
            height: 63px; 
            font-family: 'Aleo', serif;
        }
    
        h3 {
            margin: 0 0 23px 0;
            color: #E8E8E8;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 1.5px; 
        }
    
        h2 {
            margin: 0 0 13px 0;
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    
        p {
            margin: 0 0 46px 0;
            color: #E8E8E8;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
        
    }
    
    .card {
        background-color: rgba(#232323, 0.9);
        padding: 64px 32px;
        max-width: 543px;
        margin: 50px 0 0 0;

    }
}

//SECTION 6
.review {

    h2 {
        padding-bottom: 45px;
        font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        line-height: 26px;
    }

    .card {
        margin-top: 45px;
        background-color: rgba(#333, 1);
        display: flex;
        align-items: center;

        .card-body {
            padding: 49px 25px 39px 62px;
            
        }
    }

    i {
        color: #5474FD; 
        font-size: 36px; 
        padding-right: 10px;
    }

    p {
        color: #E8E8E8; 
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }
}

//FOOTER
footer {
    padding: 50px 0;
    background-color: #232323;

    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        padding-top: 50px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.6px; 
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-top: 20px;
        
        i {
            width: 40px;
            
            &:hover,
            &:focus {
                cursor: pointer;
                color: #2980b9;
            }
        }
    }
}
